__pycache__/DataNormalization.cpython-38.pyc
__pycache__/DataReduction.cpython-38.pyc
__pycache__/Shuffle.cpython-38.pyc
__pycache__/TargetOutcome.cpython-38.pyc
__pycache__/TimeStampConverter.cpython-38.pyc
